#create-project-slide-show {
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#create-project-slide-view {
    width: 90%;
    height: 20%;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
    overflow-y: scroll;
    overflow-x: scroll;
}
.create-project-slide-active, .create-project-slide-inactive {
    width: 12%;
    height: 90%;
    background-color: white;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#create-project-create-new-slide-container {
    width: 90%;
    height: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1%;
    margin-bottom: 1%;
}
#create-project-current-slide-options {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#create-project-current-slide-options-divider {
    width: 75%;
    height: 4%;
    background-color: #D0CCCC;
}
#create-project-current-slide-options-buttons {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.create-project-current-slide-option {
    width: 10%;
    margin-left: 1%;
}
#create-project-current-slide {
    width: 100%;
    height: 60%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}
.create-project-current-slide-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CCCCCC;
}
#create-project-current-slide-form {
    width: 100%;
    height: 100%;
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#create-proejct-current-slide-form-group {
    width: 95%;
    height: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#create-project-current-slide-left-arrow {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid black;
}
#create-project-current-slide-right-arrow {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid black;
}
.create-project-slide-title {
    margin-top: 5%;
    font-size: 14px;
    font-weight: bold;
    align-self: center;
}
.create-project-slide-note {
    font-size: 8px;
    align-self: left;
}
.create-proejct-current-slide-title {
    width: 75%;
    font-size: 36px;
    margin-top: 1%;
}
#create-project-current-slide-form-image-container{
    width: auto;
    height: auto;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    background-color: #f8f8f8;
    border: 2px solid #e7e6e6
}
#create-project-current-slide-form-image-object {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
#create-project-current-slide-form-image-loader {
    width: 50%;
    height: 100%;
    border: 2px solid rgba(0,0,0,0.6);
}
#create-project-current-slide-notes-list-container {
    width: 90%;
    margin-top: 1.5%;
    background-color: #f8f8f8;
    border: 2px solid #e7e6e6
}
#create-project-current-slide-notes-list-header {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
#create-project-current-slide-notes-list {
    width: 90%;
    height: auto;
    margin-top: 2%;
}
.create-project-current-slide-note {
    list-style-type: circle;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
